@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.inicio {
  background-image: linear-gradient(rgba(70, 70, 70, 0.75), rgba(70, 70, 70, 0.75)), url(../img/imagen2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.grid-container-index {
  display: grid;
  grid-template-areas: "header header header" "aside aside main" "aside aside main" "aside aside main" "aside aside main" "footer footer footer";
  grid-template-rows: repeat(auto-fill, 1fr);
  height: 100vh; }

/* grid header */
.nav-css {
  grid-area: header;
  width: 100%;
  height: 60px; }

.nav-css div {
  background-color: #000;
  z-index: 1; }

.nav-css div ul li {
  border-radius: 5px; }

.nav-css div ul li:hover {
  background-color: #333;
  border: 1px solid #fff;
  transition-property: background, border;
  transition-duration: .3s, 1s; }

.boton-css {
  border-color: #333;
  background-color: #222;
  color: #fff; }

.boton-css:hover {
  background-color: #555;
  border-color: #333; }

.grid-header-index {
  grid-area: header;
  background-color: #000;
  height: 60px;
  display: flex;
  justify-content: flex-end; }

.nav-responsive-ul {
  display: none; }

.nav-index-ul {
  background-color: #000;
  padding-right: 10px;
  padding: 15px; }

.nav-index-li {
  display: inline-block; }

.nav-index-li a {
  color: blanchedalmond;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  text-decoration: none;
  transition-property: background, color, padding;
  transition-duration: .5s, .5s, 0s;
  transition-timing-function: ease-in; }

.nav-index-li a:hover {
  color: #000;
  background-color: #ccc;
  padding: 8px 5px;
  border-radius: 10px; }

/* responsive */
@media only screen and (max-width: 520px) {
  .nav-index-ul {
    display: none; }
  .nav-responsive-ul {
    display: block;
    font-size: 12px; }
  .nav-responsive-ul {
    background-color: #000;
    padding-right: 10px; }
  .nav-li-responsive {
    display: inline-block; }
  .nav-li-responsive a {
    color: blanchedalmond;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    text-decoration: none; } }

@media only screen and (max-width: 420px) {
  .nav-responsive-ul {
    font-size: 8px; } }

/* grid main */
.grid-main-index {
  grid-area: main;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center; }

.grid-main-index div {
  margin: 40px;
  box-shadow: 7px 13px 37px #000; }

/* responsive */
@media only screen and (max-width: 1570px) {
  .grid-main-index {
    display: flex;
    flex-wrap: wrap; } }

@media only screen and (max-width: 800px) {
  .grid-container-index {
    grid-template-areas: "header header header" "aside aside aside" "aside aside aside" "main main main" "main main main" "footer footer footer"; }
  .grid-aside-index div {
    font-size: 12px; }
  .grid-main-index {
    width: 100vw; } }

@media only screen and (max-width: 600px) {
  .grid-aside-index div {
    font-size: 9px; } }

/* grid aside */
.grid-aside-index {
  grid-area: aside;
  margin-left: 20px;
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px; }

.grid-aside-index div {
  padding: 40px; }

.grid-aside-index:hover {
  background-color: #0009;
  transition-property: background;
  transition-duration: 2s; }

/* grid footer */
.grid-footer-index {
  background-color: #000;
  grid-area: footer;
  height: 40px;
  display: flex;
  justify-content: space-between; }

.copy-index p {
  color: blanchedalmond;
  padding-left: 10px;
  display: flex;
  align-self: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px; }

.grid-footer-index a {
  color: blanchedalmond;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px; }

.redes-index {
  display: flex;
  flex-direction: row; }

/* respnosive */
@media only screen and (max-width: 600px) {
  .copy-index p {
    font-size: 13px; }
  .redes-index {
    font-size: 10px; } }

@media only screen and (max-width: 440px) {
  .copy-index p {
    font-size: 8px; }
  .redes-index {
    font-size: 7px; } }

.productos {
  background-color: #ccc; }

.grid-container-productos {
  display: grid;
  grid-template-areas: "header header header header" "aside main main main" "aside main main main" "aside main main main" "footer footer footer footer";
  height: 100vh; }

/* grid header */
.grid-header-productos {
  grid-area: header;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  height: 60px; }

.grid-header-productos div h1 {
  color: blanchedalmond;
  font-family: 'Roboto', sans-serif;
  padding-left: 10px;
  display: flex;
  align-self: center;
  margin: 10px; }

.grid-header-productos div a {
  text-decoration: none;
  color: blanchedalmond;
  font-family: 'Roboto', sans-serif;
  margin: 10px; }

.nav-productos {
  padding-right: 10px; }

/* responsive */
@media only screen and (max-width: 520px) {
  .nav-index-ul {
    display: none; }
  .nav-productos div a {
    display: block;
    font-size: 12px; }
  .nav-productos div a {
    background-color: black;
    padding-right: 10px; }
  .nav-productos div a {
    display: inline-block; }
  .nav-productos div a {
    color: blanchedalmond;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    text-decoration: none; } }

@media only screen and (max-width: 470px) {
  .nav-productos div a {
    font-size: 10px;
    margin: 5px; } }

@media only screen and (max-width: 380px) {
  .nav-productos div a {
    margin: 1px;
    font-size: 9px; } }

/* grid main */
.css-luca {
  box-shadow: 2px 4px 15px 0 black; }

.css-luca div {
  border: 1px solid #ddd; }

.grid-main-productos {
  grid-area: main;
  width: 100vw;
  margin-left: 21px; }

.section-productos {
  display: flex;
  flex-wrap: wrap; }

.section-productos div {
  max-width: 450px;
  border: 3px solid #000;
  background-color: #e8c39e;
  margin: 25px;
  box-shadow: 2px 4px 15px 0 black;
  border-color: #684b2b;
  border-style: solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column; }

.section-productos div img {
  max-width: 200px;
  max-height: 200px; }

/* grid aside */
.grid-aside-productos {
  grid-area: aside;
  width: 350px;
  width: 17vw;
  display: flex;
  justify-items: center;
  align-items: center;
  color: #fff;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
  border: 2px solid #000; }

.grid-aside-productos div {
  padding: 20px; }

/* responsive */
@media only screen and (max-width: 1250px) {
  .grid-container-productos {
    grid-template-areas: "header header header header" "main main main main" "main main main main" "main main main main" "footer footer footer footer"; }
  .grid-aside-productos {
    display: none; }
  .grid-main-productos section {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0; } }

/* grid footer */
.grid-footer-productos {
  background-color: black;
  width: 100%;
  grid-area: footer;
  height: 40px;
  display: flex;
  justify-content: space-between; }

.copy-productos p {
  color: blanchedalmond;
  padding-left: 10px;
  display: flex;
  align-self: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px; }

.grid-footer-productos a {
  color: blanchedalmond;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px; }

.redes-productos {
  display: flex;
  flex-direction: row; }

/* responsive */
@media only screen and (max-width: 600px) {
  .copy-productos p {
    font-size: 12px; }
  .redes-productos {
    font-size: 10px; } }

@media only screen and (max-width: 440px) {
  .copy-productos p {
    font-size: 9px; }
  .redes-productos {
    font-size: 7px; } }

.body-cuenta {
  background: #ddd;
  background: linear-gradient(to right, #ccc, #ddd); }

.bg {
  background-image: url(../img/bg.jpg);
  background-position: center center;
  background-size: cover; }

.color-css {
  background-color: #fff;
  box-shadow: 2px 4px 15px 0 black; }

.h2-animacion {
  padding: 2px;
  animation-name: borde;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

@keyframes borde {
  from {
    border-bottom: solid 1px #000;
    width: 0%; }
  to {
    border-bottom: solid 1px #000;
    width: 100%; } }

.nosotros {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap; }

.nosotros-main {
  height: 100%;
  background-color: #fde6c8d7;
  display: flex;
  flex-direction: column; }

.nosotros-main div {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large; }

.nosotros-main div img {
  border: 2px solid #684b2b;
  width: 50%;
  box-shadow: 2px 4px 15px 0 black; }

.div-p p {
  margin: 20px;
  padding: 50px;
  background-color: #fdffffff;
  border: 1px solid black;
  box-shadow: 7px 13px 37px black; }

@media only screen and (max-width: 500px) {
  .div-p p {
    font-size: small; } }

.contactanos {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  background: #e8c39e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px; }

.contactanos-contenedor {
  width: 90%;
  max-width: 1000px;
  background: #fff;
  padding: 40px;
  margin: 20px auto;
  box-shadow: 7px 13px 37px black; }

.contactanos-contenedor h2 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px; }

.contenido {
  display: flex;
  width: 100%;
  overflow: hidden; }

.contenido .info,
.contenido .formulario {
  width: 50%; }

.info {
  padding-left: 10px; }

.info .col {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  font-size: 16px;
  align-items: center;
  flex-wrap: nowrap; }

.info .col p {
  color: #999; }

.formulario {
  padding-left: 10px; }

.formulario input {
  width: 95%;
  margin-bottom: 15px;
  padding: 12px 20px;
  border: 1px solid #999;
  color: #999;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  outline: 0; }

.formulario textarea {
  max-width: 99%;
  min-width: 99%;
  min-height: 150px;
  max-height: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px; }

.formulario button {
  padding: 12px 30px;
  margin-right: 10px;
  margin-top: 10px;
  border: transparent;
  background: #999;
  color: #fff;
  cursor: pointer;
  float: right; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
