
@import "variables/variables";
@import "sass2/condicionales";
@import "sass2/extend";
@import "sass2/maps";
@import "sass2/mixins";
@import "sass2/operaciones";
@import "partials/index";
@import "partials/productos";
@import "partials/cuenta";
@import "partials/nosotros";
@import "partials/contacto";





@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------------------------------------------------------FOOTER------------------------------------------------------------------------- */


                                    /* Footer */

footer{
    display: flex;
    align-self: flex-end;
}

.pie{
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.pie-div1{
    color: blanchedalmond;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    display: flex;
    align-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.pie-div2{
    display: flex;
    flex-direction: row;
}

.pie-div2-a{
    color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}

            /* responsive */

@media only screen and (max-width: 580px){
    .pie-div1{
        font-size: 10px;
    }
    .pie-div2-a{
        font-size: 10px; 
    }
}

@media only screen and (max-width: 440px){
    .pie-div1{
        font-size: 7px;
    }
    .pie-div2-a{
        font-size: 7px; 
    }
}