@import "../variables/variables";
@import "../sass2/maps";
@import "../sass2/extend";
@import "../sass2/mixins";
@import "../sass2/operaciones";
@import "../sass2/condicionales";

.nosotros{
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}

.nosotros-main{
    height: 100%;
    background-color: #fde6c8d7;
    display: flex;
    flex-direction: column;
}

.nosotros-main div{
    display: flex;
    justify-content: center;
    padding: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.nosotros-main div img{
    border: 2px solid #684b2b;
    width: 50%;
    box-shadow: 2px 4px 15px 0 black;
}

.div-p p{
    margin: 20px;
    padding: 50px;
    background-color: map-get($nosotros-p, background);
    border: map-get($nosotros-p, border);
    box-shadow: map-get($nosotros-p, shadow);
}

@media only screen and (max-width: 500px){
    .div-p p{
        font-size: small;
    }
}